@media print {
    html{
        --color_theme: rgb(255, 82, 52);
        --color_light: rgba(255, 202, 186, 1);
        --color_dark:rgb(51, 9, 9);
        --color_gray: lightgray;
        --color_white:white;
        --color_black: 121212;
        --bckcolor:--colorlight;
        --txt:--dark_color;
        --txt_2: --graycolor;
        --txt_mark: --themecolor;
    }

    @font-face {
        font-family: 'LindenHill';
        src: url("/font/LindenHill.otf") format("opentype");
    }


    /* Size and marin for all pages ------------- */
    @page {
        /* marks: crop; */
        background-color: var(--color_white);
        size: 210mm 297mm;
        margin-top: 10mm;
        margin-bottom: 10mm;
        margin-left: 20mm;
        margin-right: 20mm;
        bleed: 5mm;
        line-height: 1;
        font-family:'LindenHill' ;
        font-size: 0.95em;
        color: var(--txt);
        text-align :start;
        @bottom-left-corner {
            text-align: center;
            content: counter(page);
            width: 40px;
        }
        
    }  

    /* .pagedjs_margin-top-right-corner-holder{justify-content:center;} */

    /* BLANK PAGES -------------------------------- */

    @page:blank {
        @bottom-right-corner { content: none; }
        @bottom-center { content: none; }
        @top-left-corner { content: none; }
        @top-right-corner { content: none; }
        @top-center { content: none; }
        background-color: white;
    }

    /* Cover*/
@page:first{
    @bottom-left-corner { content: none; }
    @bottom-right-corner { content: none; }
    @bottom-center { content: none; }
    @top-left-corner { content: none; }
    @top-right-corner { content: none; }
    @top-center { content: none; }
    margin-left: 20mm;
    margin-top: 20mm;
    background-color: var(--themecolor);
    color:var(--lightestcolor);
    --color-txtmark:var(--lightestcolor);
    --bckcolor:var(--lightestcolor);
}


section>p::first-letter{
font-size: x-large;
font-weight: bolder;
}
li::marker{
    color:var(--color-txtmark);
}
    body {
        counter-reset: figureNumber;
    }
    
    h1{
        font-size: 2em;
        font-weight: bolder;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }
    h2 {
        font-size: 1.5em;
        font-weight: 500;
    }
    a{
        color: inherit;
    }
    h3 {
        font-size: 1.25em;
        font-weight: bolder;
    }
    h4{
        font-size: 1em;
        font-family: monospace;
        color: var(--color-txt2);
        font-weight: bold;
        margin-top: 0em;
        margin-bottom: 21em;
    }

/* Image */
    figure{
        max-height: 10em;
        margin-left: 0;
    }
    figure>figcaption{
        color: var(--color-txtmark);
        font-size: 1.2em;
    }
    img{
        color: var(--color-txtmark);
        margin-bottom: 0.55em;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
    }

     /*-- Cross Ref -- */
     .note-call_cross-ref{
        color: var(--color-txt2);
        content: "&#x2197;";
    }
    /* ref */
    .cross-ref{
        text-decoration: none;
        font-style: italic;
        font-weight: lighter;
        color: var(--color-txt2);
        padding-left: 2em;
        padding-right: 2em;
    }
    .cross-ref::before{
        content: "(p." target-counter(attr(href url), page)") ";
        font-weight: bolder;
        text-decoration: none;
    }

    .pagedjs_left_page .marginnotes {
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .pagedjs_right_page .marginnotes {
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .protocole{
        display: none;
    }

}



